* {
    border: 1px dotted red;
    padding: 0;
    margin: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 100vh; 
}

.sidebar {
    position: relative;
    height: 100%;
}

.sidebar-header {
    width: 100%;
}

.sidebar-header > h1 {
    text-align: center;
    padding: 20px 0;
}

.sidebar-content-1, .sidebar-content-2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 150px;
    margin-top: 50px;
    gap: 20px;
}

.sidebar-content-1 > div, .sidebar-content-2 > div {
    text-align: center;
    font-size: 22px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 50px 500px;
    grid-template-rows: 50px;
}

.top-info {
    display: grid;
    grid-template-columns: repeat(2, 50px) 100px;
    grid-template-rows: 50px;
}

.header-text {
    display: grid;
    grid-template-columns: 50px 5fr;
    grid-template-rows: 50px;
}

.top-btns {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 50px;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 100%;
}

.left-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.right-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.right-content-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.right-content-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.announcements-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.trending-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}